on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v1
    - name: Build Teams
      run: .\_build\createTeams.ps1
      shell: pwsh
    - name: Add Files
      run: |
        git add -A
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        commit-message: Rebuilding Teams
        title: Rebuilding Teams
        body: Rebuilding Teams
        branch: main
        base: main